# adapted from https://github.com/mitmproxy/pdoc/blob/main/.github/workflows/docs.yml

name: python-doc

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - main

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - run: python -m venv .venv
      - run: source .venv/bin/activate
      # Install dependencies (including pdoc)
      - run: pip install maturin numpy pdoc
      # Build your documentation into docs/.
      - run: cd python && bash mk_doc.sh

      - uses: actions/upload-pages-artifact@v4
        with:
          path: python/doc/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
